<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Cupcakepalooza!</title>
</head>
<body>
    <h1>Cupcakes!</h1>
    <ul id="cupcake-list">

    </ul>
    <button id="list_button">List Cupcakes</button><br>
    <label for="flavor">Flavor</label>
    <input type="text" name="flavor" id="flavor"><br>
    <label for="size">Size</label>
    <input type="text" name="size" id="size"><br>
    <label for="rating">Rating</label>
    <input type="text" name="rating" id="rating"><br>
    <label for="image">Image URL</label>
    <input type="text" name="image" id="image"><br>
    <button id="submit">Submit</button>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="static/app.js"></script>
</body>
</html>